[package]
name = "mdh_rustysynth_wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
rustysynth = "1.3.6"

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1
